<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

<div class="navbar">
<div class="navbar-inner">
<div class="container">
<a class="brand" href="/">My Library</a>
<div class="nav">
<ul class="nav">

<li>
<a href="/Subject">Subjects</a>
</li>

</ul>
</div>
</div>
</div>
</div>

<div class="content">

@RenderBody()

</div>

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap-dropdown.js"></script>

</body>
</html>
